################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.Grpc.ServerClientCommon/bin/Debug/net6.0
/NP.Grpc.ServerClientCommon/obj
/Plugins/NP.RelayClient/bin/Debug/net6.0
/Plugins/NP.RelayClient/obj
/Plugins/NP.RelayServer/bin/Debug/net6.0
/Plugins/NP.RelayServer/obj
/Prototypes/SimpleBroadcastSubscriptionTest/.vs
/Prototypes/SimpleBroadcastSubscriptionTest/bin/Debug/net6.0
/Prototypes/SimpleBroadcastSubscriptionTest/obj
/Prototypes/RelayServerTest/.vs
/Prototypes/RelayServerTest/bin/Debug/net6.0
/Prototypes/RelayServerTest/obj/Debug/net6.0
/Prototypes/RelayServerTest/obj
/src/bin/Debug/net6.0
/src/obj
/Plugins/NP.GrpcConfig/bin/Debug/net6.0
/Plugins/NP.GrpcConfig/obj
/Plugins/NP.PersonTest/bin/Debug/net6.0
/Plugins/NP.PersonTest/obj
/Plugins/NP.TestTopics/bin/Debug/net6.0
/Plugins/NP.TestTopics/obj
/Prototypes/BroadcastClientTest/.vs
/Prototypes/BroadcastClientTest/bin/Debug/net6.0
/Prototypes/BroadcastClientTest/obj
/Prototypes/SubscribingClientTest/.vs
/Prototypes/SubscribingClientTest/bin/Debug/net6.0
/Prototypes/SubscribingClientTest/obj
*.nupkg
/Plugins/NP.RelayClient/bin/Release/net6.0
/Plugins/NP.RelayServer/bin/Release
/Prototypes/BroadcastClientTest/bin
/Prototypes/RelayServerNugetTest/.vs/RelayServerNugetTest
/Prototypes/RelayServerNugetTest/bin/Debug/net6.0
/Prototypes/RelayServerNugetTest/obj
/Prototypes/RelayServerTest/bin/Release/net6.0/Plugins/Services/NP.Grpc.RelayServer
/Prototypes/SubscribingClientTest/bin
/src/bin/Release/net6.0
/Prototypes/RelayServerNugetTest/.vs/ProjectEvaluation
/Plugins/NP.GrpcConfig/bin/Release/net6.0
/Plugins/NP.PersonTest/bin/Release/net6.0
/Plugins/NP.TestTopics/bin/Release/net6.0
/Prototypes/RelayServerTest/bin/Release/net6.0
/NP.Grpc.RelayServiceProto/bin/Debug
/NP.Grpc.RelayServiceProto/obj
/NP.Grpc.PythonRelayInterfaces/__pycache__
*.user
/NP.Grpc.RelayServiceProto/bin/Release
/Prototypes/PythonClients/PythonPersonStub/__pycache__
/Plugins/NP.Grpc.RelayClient/bin
/Plugins/NP.Grpc.RelayClient/obj
/Plugins/NP.Grpc.RelayServer/bin
/Plugins/NP.Grpc.RelayServer/obj
/Prototypes/PythonClients/BroadcastingPythonClientTest/__pycache__
/NP.Grpc.PythonRelayInterfaces/src/__pycache__
/NP.Grpc.PythonRelayInterfaces/dist
/NP.Grpc.PythonRelayInterfaces/src/NP.Grpc.PythonRelayInterfaces.egg-info/top_level.txt
/NP.Grpc.PythonRelayInterfaces/src/NP.Grpc.PythonRelayInterfaces.egg-info/SOURCES.txt
/NP.Grpc.PythonRelayInterfaces/src/NP.Grpc.PythonRelayInterfaces.egg-info/PKG-INFO
/NP.Grpc.PythonRelayInterfaces/src/NP.Grpc.PythonRelayInterfaces.egg-info/dependency_links.txt
